$white: #fff;
$black: #000;
$blackOpasity: rgba(0,0,0,0.8);
$blackOpasity2: rgba(0, 0, 0, 0.85);
$grey: #333333;
$green: #1ed400;
$greenOpasity: rgba(30, 212, 0, 0.4);

$Lato: 'Lato', sans-serif;
$Lora: 'Lora', serif;
$Quicksand: 'Quicksand', sans-serif;
$RobotoSlab: 'Roboto Slab', serif;